.main-menu {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    justify-items: center;
    align-items: center;
}

.button-grid .MuiButton-root {
    width: 200px;
    height: 200px;
    min-width: unset;
    background-color: #d9d9d9 !important;
    color: #2c2c2c !important;
}

.series-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.series-head {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    border: solid 1px #000000;
}