.manager-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex: 1 1 auto;
  background-color: #ffffff !important;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  height: 100%;
}

.tabs {
  display: flex;
  color: white;
  background-color: #2c2c2c;
}

.tabs .MuiTab-root {
    color: white;
    background-color: #2c2c2c;
}

.tabs .MuiTabs-indicator {
  display: none;
}

.tabs .MuiTab-root.Mui-selected {
  color: #4798F5;
  background-color: #2c2c2c;
  font-weight: bold;
  border: 0;
}

.MuiTabs-flexContainer .logout-tab {
    margin-left: auto;
}

h1 {
    color: #2c2c2c;
}